module.exports =
    debug: true
    twitch:
        chat:
            login:
                username: 'NexerqBot'
                password: 'oauth:'
            channels: ['#channel']
    bot:
        modules:
            global:
                commandprefix: '!nb'