module.exports =
    debug: false
    twitch:
        chat:
            login:
                username: 'NexerqBot'
                password: 'oauth:'
            channels: ['#channel']
    osu:
        chat:
            login:
                username: 'Nexerq'
                password: 'https://osu.ppy.sh/p/irc'
    modules:
        global:
            commandprefix: '!nb'