database:
	username: "postgres"
	password: "postgres"
	database: "nexerqbot"
	host: "127.0.0.1"
	dialect: "postgres"
osuapi:
	key: "https://osu.ppy.sh/api"
osuchat:
	login:
		username: "Nexerq"
		password: "https://osu.ppy.sh/p/irc"
twitch:
	chat:
		login:
			username: "NexerqBot"
			password: "oauth:"
		channels: [
			"#channel"
		]
modules:
	global:
		commandprefix: "!nb"
	osu:
		requests:
			channel:
				n2468txd: "Nexerq"
				channel: "osuname"
				anotherChannel: "theirosuname"